.nav-link:hover{
    color: #DDD1A3;
    opacity: 1.5;
}

#hero{
    overflow-x: hidden;
}

#profile{
    border-radius: 20%;
}

#hero{
    background-color: #18191A;
    color: #DDD1A3;
    margin: 0;
}

.btn:hover{
    color: Black
    opacity: 2;
    background-color: #DDD1A3;
}


#logo{
    background-color: black;
    height: 40px;
    width: 40px;
}

#work{
    color: #18191a;
}

#work:hover{
    opacity: 0;
}

.card:hover{
    transform: translate3D(0,-1px,0) scale(1.25);
    transition: transform 0.5s;
}

.carousel-inner{
    height: 500px;
    border-radius: 50px;
}

#project{
    background-color: #18191a;
    padding-top: 50px;
    color: #DDD1A3;
}

#interest{
    background-color: #DDD1A3;
    
}

#contact{
    background-color: #18191A;
    color: #DDD1A3;
    margin: 0;
    overflow-x: hidden;
}

#footer{
    background-color: #2B3035;
    color: #DDD1A3;
}