.nav-link:hover{
    color: #DDD1A3;
    opacity: 1.5;
}

#hero{
    overflow-x: hidden;
}

#profile{
    border-radius: 20%;
}

#hero{
    background-color: #18191a;
    color: #DDD1A3;

}

.btn:hover{
    color: Black
    opacity: 2;
    background-color: #DDD1A3;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#logo{
    background-color: black;
    height: 40px;
    width: 40px;
}

#work{
    color: #18191a;
}

#work:hover{
    opacity: 0;
}